html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: linear-gradient(135deg, #000000, #1A1A2E, #16213E);
    color: white;
    font-family: 'Arial', sans-serif;
}

.header-bar {
    flex-shrink: 0;
    text-align: left;
    padding: 20px;
    background-color: rgba(0,0,0,0.3);
    width: 80px;
    height: 80px;
}

.header-logo img {
    width: 80px;
    height: 80px;
}

.github-account {
    width: 100%;
    position: fixed; /* Sticks the div to the top */
    top: 0;
    text-align: center;
    padding: 10px;
}

.github-account a {
    width: 100%;
    color: rgba(71, 64, 64, 0);
    text-decoration: none;
    text-align: center;
}

.github-account a:hover {
    width: 100%;
    color: rgb(149, 149, 149);
    text-decoration: none;
    text-align: center;
}

.data-list {
    padding-top: 20px;
}

.data-list-a {
    text-decoration: none;
    color: white;
}

.content {
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.gallery {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.project-card {
    position: relative;
    width: 250px;
    height: 350px;
    perspective: 1000px;
    transition: transform 0.5s;
    border-radius: 15px;
}

.project-card:hover {
    transform: scale(1.05) rotateY(10deg);
}

.project-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    transition: filter 0.3s;
}

.project-card:hover img {
    filter: brightness(70%);
}

.project-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.155);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: 0.5s ease;
    border-radius: 15px;
}

.project-card:hover .project-overlay {
    height: 100%;
}

.project-text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s;
}

.project-card:hover .project-text {
    opacity: 1;
}

.files-page {
    display: flex;
    justify-content: center;
    align-items: center;
}

.files-button {
    text-decoration: none;
    color: black;
    font-size: 100px;
    font-family: Arial, sans-serif;
}

footer {
    flex-shrink: 0;
    text-align: center;
    padding: 5px;
    position: absolute;
    bottom: 0;
}

footer:hover {
    flex-shrink: 0;
    text-align: center;
    padding: 5px;
    background-color: rgba(0,0,0,0.3);
    position: absolute;
    bottom: 0;
}